<!DOCTYPE html>
<html layout:decorate="~{layouts/layout1}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공방와 :: 내 정보 수정</title>

    <th:block layout:fragment="css">
        <!--css-->
        <style>
            .fieldError {
                color: red;
            }
        </style>
    </th:block>

    <!-- 사용자 스크립트 추가-->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(function (e) {

                console.log("냥")

                var errorMessage = [[${errorMessage}]];
                if(errorMessage != null){
                    alert(errorMessage);
                }

                var result = [[${result}]];

                if(result != null) {
                    alert(result)
                }

                var role = $(".userRole")
                role.hide()

            })

        </script>
    </th:block>


</head>
<body>

<div layout:fragment="content">

    <form action="/atelier/modify" class="forms" method="post" th:object="${atelierDTO}" enctype="multipart/form-data">
        <div class="row mt-3 mb-3">
            <div class="col col-md-4 offset-md-4">
                <div class="card mb-4">
                    <div class="card-body">

                        <div style="text-align: center">
                            <img src="/img/user/master.png" width="60px" style="margin-bottom: 5px">
                            <h3 style="font-family: '210snailB';">공방 등록</h3>
                        </div>

                        <label class="form-label" for="atelierNm" >상호명</label>
                        <input class="form-control" id="atelierNm" name="atelierNm" th:field="*{atelierNm}" type="text">
                        <p th:errors="*{atelierNm}" th:if="${#fields.hasErrors('atelierNm')}"></p>

                        <div class="atelierType">
                            <label class="form-label" for="atelierType" >업종</label>
                            <select aria-label="Default select example" class="form-select" th:field="*{atelierType}" id="atelierType" name="atelierType">
                                <option value="candle">캔들/향수</option>
                                <option value="wood">목공</option>
                                <option value="silver">금속공예</option>
                                <option value="drink">조주</option>
                                <option value="art">미술</option>
                                <option value="bake">베이킹</option>
                                <option value="pottery">도예</option>
                                <option value="knitting">뜨개질</option>
                                <option value="lather">가죽</option>
                            </select>
                        </div>

                        <label class="form-label" for="atelierDetail" >상세설명</label>
                        <input class="form-control" id="atelierDetail" name="atelierDetail" th:field="*{atelierDetail}" type="text">
                        <p th:errors="*{atelierDetail}" th:if="${#fields.hasErrors('atelierDetail')}"></p>

                        <!--추후 주소 api 가져오는것으로 변경-->
                        <label class="form-label" for="atelierArea" >지역</label>
                        <input class="form-control" id="atelierArea" name="atelierArea" th:field="*{atelierArea}" type="text">
                        <p th:errors="*{atelierArea}" th:if="${#fields.hasErrors('atelierArea')}"></p>

                        <!--추후 주소 api 가져오는것으로 변경-->
                        <label class="form-label" for="atelierAdd" >사업지 주소</label>
                        <input class="form-control" id="atelierAdd" name="atelierAdd" th:field="*{atelierAdd}" type="text">
                        <p th:errors="*{atelierAdd}" th:if="${#fields.hasErrors('atelierAdd')}"></p>


                        <label class="form-label" for="opening" >오픈시간</label>
                        <select aria-label="Default select example open" class="form-select" th:field="*{opening}" id="opening" name="opening">
                            <option value="00:00">00:00</option>
                            <option value="01:00">01:00</option>
                            <option value="02:00">02:00</option>
                            <option value="03:00">03:00</option>
                            <option value="04:00">04:00</option>
                            <option value="05:00">05:00</option>
                            <option value="06:00">06:00</option>
                            <option value="07:00">07:00</option>
                            <option value="08:00">08:00</option>
                            <option value="09:00">09:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="21:00">21:00</option>
                            <option value="22:00">22:00</option>
                            <option value="23:00">23:00</option>
                            <option value="24시간">24시간</option>
                        </select>
                        <p th:errors="*{opening}" th:if="${#fields.hasErrors('opening')}"></p>

                        <label class="form-label" for="closing" >마감시간</label>
                        <select aria-label="Default select example close" class="form-select" th:field="*{closing}" id="closing" name="closing">
                            <option value="00:00">00:00</option>
                            <option value="01:00">01:00</option>
                            <option value="02:00">02:00</option>
                            <option value="03:00">03:00</option>
                            <option value="04:00">04:00</option>
                            <option value="05:00">05:00</option>
                            <option value="06:00">06:00</option>
                            <option value="07:00">07:00</option>
                            <option value="08:00">08:00</option>
                            <option value="09:00">09:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="21:00">21:00</option>
                            <option value="22:00">22:00</option>
                            <option value="23:00">23:00</option>
                            <option value="24시간">24시간</option>
                        </select>
                        <p th:errors="*{closing}" th:if="${#fields.hasErrors('closing')}"></p>

                        <label class="form-label" for="phone" >전화번호</label>
                        <input class="form-control" id="phone" name="phone" th:field="*{phone}"
                               type="tel">
                        <p th:errors="*{phone}" th:if="${#fields.hasErrors('phone')}"></p>

                        <label class="form-label" for="name" >대표자명</label>
                        <input class="form-control" id="name" name="name" th:field="*{name}" type="text">
                        <p th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></p> <br>

                        <!-- if 만약에 넘어오는 이미지 파일이 없다면-->
                        <div th:if =  "${#lists.isEmpty(atelierDTO.atelierImgDTOList)}">
                            <label class="form-label" for="atelierAdd" >대표사진</label>
                            <div class="input-group mb-3" >
                                <input type="file" class="form-control cutom-file-input" name="atelierImgFile">
                            </div>
                        </div>

                        <div th:if =  "${not #lists.isEmpty(atelierDTO.atelierImgDTOList)}">
                            <div class="input-group  mb-3" th:each="atelierImgDTO, status: ${atelierDTO.atelierImgDTOList}">

                                <input type="file"  class="form-control form-control-file" th:id="${status.index+1}" name="atelierImgFile" >

                                <input type="text" class="form-control"  name="atelierImgIds" th:value="${atelierImgDTO.aino}">


                                <label th:for="${status.index+1}" class="input-group-text form-control-label" th:text="${not #strings.isEmpty(atelierImgDTO.oriImgName)} ? ${atelierImgDTO.oriImgName} : '상품이미지'" >Upload</label>
                            </div>
                        </div>

                        <!--                                                         넘어오는 이미지 파일이 있다면 , 데이터값 db-->
                        <div th:if =  "${#strings.isEmpty(atelierDTO.ano)}" style="text-align: center; margin-top: 3px; margin-bottom: 5px">

                            <button th:formaction="@{/atelier/master/register}" type="submit" class="btn btn-danger submitBtn">가입하기</button>

                        </div>

                        <!--                        <div style="text-align: center; margin-top: 15px">-->
                        <!--                            <input class="btn btn-secondary submitBtn" type="submit" value="등록">-->
                        <!--                        </div>-->

                    </div>


                </div>
            </div>
        </div>

    </form>

</div>

</body>

</html>