<!DOCTYPE html>
<html layout:decorate="~{layouts/layout1}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공방와 :: 내 정보 수정</title>

    <th:block layout:fragment="css">
        <!--css-->
        <style>
            .fieldError {
                color: red;
            }
        </style>
    </th:block>

    <!-- 사용자 스크립트 추가-->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(function (e) {

                console.log("냥")

                var errorMessage = [[${errorMessage}]];
                if(errorMessage != null){
                    alert(errorMessage);
                }

                var result = [[${result}]];

                if(result != null) {
                    alert(result)
                }

                var role = $(".userRole")
                role.hide()

            })

        </script>
    </th:block>


</head>
<body>

<div layout:fragment="content">

    <form action="/atelier/modify" class="forms" method="post" th:object="${atelier}" enctype="multipart/form-data">
        <div class="row mt-3 mb-3">
            <div class="col col-md-4 offset-md-4">
                <div class="card mb-4">
                    <div class="card-body">

                        <div style="text-align: center">
                            <img src="/img/user/master.png" width="60px" style="margin-bottom: 5px">
                            <h3 style="font-family: '210snailB';">사장 회원 가입</h3>
                        </div>

                        <div class="role">
                            <label class="form-label" for="role" >회원유형</label>
                            <select aria-label="Default select example" class="form-select" th:field="*{role}" id="role" name="role">
                                <option value="MASTER">사장회원</option>
                            </select>
                        </div>

                        <label class="form-label" for="email" >이메일</label>
                        <input type="text" class="form-control" id="email" name="email" th:field="*{email}" readonly></input>
                        <p th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></p>

                        <input class="form-control" id="password" name="password" th:field="*{password}" type="hidden">

                        <label class="form-label" for="atelierNm" >상호명</label>
                        <input class="form-control" id="atelierNm" name="atelierNm" th:field="*{atelierNm}" type="text">
                        <p th:errors="*{atelierNm}" th:if="${#fields.hasErrors('atelierNm')}"></p>

                        <div class="atelierType">
                            <label class="form-label" for="Role" >업종</label>
                            <select aria-label="Default select example" class="form-select" th:field="*{atelierType}" id="atelierType" name="atelierType">
                                <option value="candle">캔들/향수</option>
                                <option value="wood">목공</option>
                                <option value="silver">금속공예</option>
                                <option value="drink">조주</option>
                                <option value="art">미술</option>
                                <option value="bake">베이킹</option>
                                <option value="pottery">도예</option>
                                <option value="knitting">뜨개질</option>
                            </select>
                        </div>

                        <label class="form-label" for="atelierDetail" >상세설명</label>
                        <input class="form-control" id="atelierDetail" name="atelierDetail" th:field="*{atelierDetail}" type="text">
                        <p th:errors="*{atelierDetail}" th:if="${#fields.hasErrors('atelierDetail')}"></p>

                        <!--추후 주소 api 가져오는것으로 변경-->
                        <label class="form-label" for="atelierAdd" >사업지 주소</label>
                        <input class="form-control" id="atelierAdd" name="atelierAdd" th:field="*{atelierAdd}" type="text">
                        <p th:errors="*{atelierAdd}" th:if="${#fields.hasErrors('atelierAdd')}"></p>

                        <label class="form-label" for="phone" >전화번호</label>
                        <input class="form-control" id="phone" name="phone" th:field="*{phone}"
                               type="tel">
                        <p th:errors="*{phone}" th:if="${#fields.hasErrors('phone')}"></p>

                        <label class="form-label" for="name" >대표자명</label>
                        <input class="form-control" id="name" name="name" th:field="*{name}" type="text">
                        <p th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></p> <br>

<!--                        <div th:if =  "${not #lists.isEmpty(atelierDTO.atelierImgDTOList)}">-->
<!--                            <div class="input-group  mb-3" th:each="atelierImgDTO, status: ${atelierDTO.atelierImgDTOList}">-->

<!--                                <input type="file"  class="form-control form-control-file" th:id="${status.index+1}" name="atelierImgFile" >-->

<!--                                <input type="text" class="form-control"  name="atelierImgIds" th:value="${atelierImgDTO.aino}">-->


<!--                                <label th:for="${status.index+1}" class="input-group-text form-control-label" th:text="${not #strings.isEmpty(atelierImgDTO.oriImgName)} ? ${atelierImgDTO.oriImgName} : '상품이미지'" >Upload</label>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                                                         넘어오는 이미지 파일이 있다면 , 데이터값 db-->
<!--                        <div th:if =  "${#strings.isEmpty(atelierDTO.ano)}" style="text-align: center; margin-top: 3px; margin-bottom: 5px">-->

                            <button th:formaction="@{/atelier/modify}" type="submit" class="btn btn-danger">수정완료</button>

<!--                        </div>-->

<!--                        <div style="text-align: center; margin-top: 15px">-->
<!--                            <input class="btn btn-secondary submitBtn" type="submit" value="등록">-->
<!--                        </div>-->

                    </div>


                </div>
            </div>
        </div>

    </form>

</div>

</body>

</html>