<html layout:decorate="~{layouts/layout1}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공방와 :: [[${atelierDTO.atelierNm}]]</title>

    <th:block layout:fragment="css">
        <!--css-->
        <style>
            .image-box {
                width:645px;
                height:630px;
                overflow:hidden;
                margin:0 auto;
            }
            .image-box2 {
                width:100px;
                height:100px;
                overflow:hidden;
                margin:0 auto;
            }
            .image-thumbnail {
                width:100%;
                height:100%;
                object-fit:cover;
            }
        </style>

    </th:block>

    <th:block layout:fragment="script">
        <script th:inline="javascript">

            $(document).ready(function (e) {

                console.log("냥")

                var errorMessage = [[${errorMessage}]];
                if (errorMessage != null) {
                    alert(errorMessage);
                }

                var result = [[${result}]];

                if (result != null) {
                    alert(result)
                }
            })

        </script>
    </th:block>

</head>
<body>

<div layout:fragment="content" >

    <div class="row mb-5 mt-5">
        <div class="col">
            <div class="card border-light shadow">
                <div class="card border-light ">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <div class="ratio ratio-1x1 image-box">
                                <img th:src="${atelierDTO.atelierImgDTOList[0].imgUrl}" class="card-img-top ratio ratio-1x1 image-thumbnail" width="100%">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">

                                <br>

                                <div class="h4 mb-3">

                                    <h3  th:text="${atelierDTO.atelierNm}" style="font-family: '210snailL'"></h3>

                                </div>

                                <div class="mb-3">

                                    <h5 style="font-family: '210snailL'; margin-top: -5px;">
                                        <p th:if="${atelierDTO.getAtelierType()} == 'candle'">캔들/향수공방🪔</p>
                                        <p th:if="${atelierDTO.getAtelierType()} == 'wood'">목공방🪓</p>
                                        <p th:if="${atelierDTO.getAtelierType()} == 'silver'">금속공방💍</p>
                                        <p th:if="${atelierDTO.getAtelierType()} == 'drink'">조주공방🍶</p>
                                        <p th:if="${atelierDTO.getAtelierType()} == 'art'">미술공방🎨</p>
                                        <p th:if="${atelierDTO.getAtelierType()} == 'bake'">베이킹공방🥨</p>
                                        <p th:if="${atelierDTO.getAtelierType()} == 'pottery'">도예공방⚱</p>
                                        <p th:if="${atelierDTO.getAtelierType()} == 'knitting'">뜨개공방🧶</p>
                                        <p th:if="${atelierDTO.getAtelierType()} == 'leather'">가죽공방👜</p>
                                    </h5>

                                </div>

                                <div class="mb-3">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"></path>
                                    </svg>

                                    <span th:text="${atelierDTO.atelierAdd}" style="font-family: '210snailL'"></span>

                                </div>

                                <div class="mb-3">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"></path>
                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"></path>
                                    </svg>

                                    <span style="font-family: '210snailL'" th:text="${atelierDTO.opening}"></span>
                                    -
                                    <span style="font-family: '210snailL'" th:text="${atelierDTO.closing}"></span>


                                </div>

                                <div class="mb-3">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">

                                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"></path>
                                    </svg>

                                    <span th:text="${atelierDTO.phone}" style="font-family: '210snailL'"></span>

                                </div>


                                <br>
                                <br>


                                <hr>


                                <div class="text-end mt-3 mb-3 me-3" >

                                    <div th:unless="${atelierDTO.email} == ${#authentication.principal.username}">
                                        <button type="button" class="btn btn-outline-danger btn-lg likeBtn" onclick="addLike()" style="font-family: '210snailR'; ">❤ 즐겨찾기</button>
                                        <button type="button" class="btn btn-danger btn-lg okBtn" onclick="order()" style="font-family: '210snailR';">✔ 예약하기</button>
                                    </div>

                                    <br>
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row " >
        <div class="col ">
            <div class="card border-light shadow">

                <br>

                <div class="h5 mb-1">
                    &nbsp;<span style="font-family: '210snailL'; font-size: x-large"> 💌 상세 정보</span>
                    &nbsp;&nbsp;
                    <!--자신의 공방페이지에서만 보임-->
                    <a th:seamless="${atelierDTO.email} == ${#authentication.principal.username}"
                            href="/lesson/register" class="btn btn-secondary lessonRegiBtn" style="font-family: '210snailR'; ">
                        수업 등록!</a>
                    &nbsp; <hr> &nbsp;
                </div>

                <div class="mb-3 mt-2">
                    &nbsp;&nbsp;<span style="font-family: '210snailL';" th:text="${atelierDTO.atelierDetail}"></span>
                    <!-- 이 곳에 공방수업 목록 작성 예정 -->
                </div>

            </div>
        </div>
    </div>

    <div style="text-align: right; margin-top: 30px; margin-left: 10px">
        <a href="/list" class="btn btn-danger" style="font-family: '210snailR'; ">목 록</a>
        <a href="/" class="btn btn-light" style="font-family: '210snailR'; ">메 인</a>
    </div>


</div>

</body>
</html>