<html layout:decorate="~{layouts/layout1}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공방와 :: [[${atelierDTO.atelierNm}]]</title>

    <th:block layout:fragment="script">
        <script th:inline="javascript">

            $(document).ready(function (e) {

                console.log("냥")

                var errorMessage = [[${errorMessage}]];
                if (errorMessage != null) {
                    alert(errorMessage);
                }

                var result = [[${result}]];

                if (result != null) {
                    alert(result)
                }
            })

        </script>
    </th:block>

</head>
<body>

<div layout:fragment="content" >

    <div class="row mb-5 mt-5">
        <div class="col">
            <div class="card border-light shadow">
                <div class="card border-light ">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <div class="ratio ratio-1x1">
                                <img th:src="${atelierDTO.atelierImgDTOList[0].imgUrl}" class="card-img-top ratio ratio-1x1" width="100%">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">

                                <br>

                                <div class="h4 mb-3">

                                    <h3  th:text="${atelierDTO.atelierNm}" style="font-family: '210snailL'"></h3>

                                </div>

                                <div class="mb-3">

                                    <h5 style="font-family: '210snailL'; margin-top: -5px;">
                                        <p th:if="${atelierDTO.getAtelierType()} == 'candle'">캔들/향수공방🪔</p>
                                        <p th:if="${atelierDTO.getAtelierType()} == 'wood'">목공방🪓</p>
                                        <p th:if="${atelierDTO.getAtelierType()} == 'silver'">금속공방💍</p>
                                        <p th:if="${atelierDTO.getAtelierType()} == 'drink'">조주공방🍶</p>
                                        <p th:if="${atelierDTO.getAtelierType()} == 'art'">미술공방🎨</p>
                                        <p th:if="${atelierDTO.getAtelierType()} == 'bake'">베이킹공방🥨</p>
                                        <p th:if="${atelierDTO.getAtelierType()} == 'pottery'">도예공방⚱</p>
                                        <p th:if="${atelierDTO.getAtelierType()} == 'knitting'">뜨개공방🧶</p>
                                        <p th:if="${atelierDTO.getAtelierType()} == 'leather'">가죽공방👜</p>
                                    </h5>

                                </div>

                                <div class="mb-3">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"></path>
                                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
                                    </svg>

                                    <span th:text="${atelierDTO.atelierAdd}" style="font-family: '210snailL'"></span>

                                </div>


                                <br>
                                <br>


                                <hr>


                                <div class="text-end mt-3 mb-3 me-3" >

                                    <div th:unless="${atelierDTO.email} == ${#authentication.principal.username}">
                                        <button type="button" class="btn btn-outline-danger btn-lg likeBtn" onclick="addLike()" style="font-family: '210snailR'; ">❤ 즐겨찾기</button>
                                        <button type="button" class="btn btn-danger btn-lg okBtn" onclick="order()" style="font-family: '210snailR';">✔ 예약하기</button>
                                    </div>

                                    <br>
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row " >
        <div class="col ">
            <div class="card border-light shadow">

                <br>

                <div class="h5 mb-1">
                    &nbsp;<span style="font-family: '210snailL'; font-size: x-large"> 💌 상세 정보</span>
                    &nbsp;&nbsp;
                    <!--자신의 공방페이지에서만 보임-->
                    <a th:seamless="${atelierDTO.email} == ${#authentication.principal.username}"
                            href="/lesson/register" class="btn btn-secondary lessonRegiBtn" style="font-family: '210snailR'; ">
                        수업 등록!</a>
                    &nbsp; <hr> &nbsp;
                </div>

                <div class="mb-3 mt-2">
                    &nbsp;&nbsp;<span style="font-family: '210snailL';" th:text="${atelierDTO.atelierDetail}"></span>
                    <!-- 이 곳에 공방수업 목록 작성 예정 -->
                </div>

            </div>
        </div>
    </div>

    <div style="text-align: right; margin-top: 30px; margin-left: 10px">
        <a href="/list" class="btn btn-danger" style="font-family: '210snailR'; ">목 록</a>
        <a href="/" class="btn btn-light" style="font-family: '210snailR'; ">메 인</a>
    </div>


</div>

</body>
</html>