<!DOCTYPE html>
<html layout:decorate="~{layouts/layout1}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공방와 :: 내 정보 수정</title>

    <th:block layout:fragment="script">
        <script th:inline="javascript">

            $(document).ready(function (e) {

                console.log("냥")

                var errorMessage = [[${errorMessage}]];
                if (errorMessage != null) {
                    alert(errorMessage);
                }

                var result = [[${result}]];

                if (result != null) {
                    alert(result)
                }

                var role = $(".userRole")
                role.hide()

            })

        </script>
    </th:block>


</head>
<body>

<div layout:fragment="content">

    <div class="row mt-3 mb-3">
        <form action="/memberuser/modify" class="forms" method="post" th:object="${memberuser}">
            <div class="col col-md-4 offset-md-4">
            <div class="card mb-4">
                <div class="card-body">

                    <div style="text-align: center">
                        <img src="/img/user/customer.png" sec:authorize="hasRole('USER')" width="60px" style="margin-bottom: 5px">
                        <img src="/img/user/admin.png" sec:authorize="hasRole('ADMIN')" width="60px" style="margin-bottom: 5px">
                        <img src="/img/user/master.png" sec:authorize="hasRole('MASTER')" width="60px" style="margin-bottom: 5px">
                        <h3 style="font-family: '210snailB';">내 정보 수정하기</h3>
                    </div>

                    <div class="userRole">
                        <label class="form-label" for="Role" >회원유형</label>
                        <select aria-label="Default select example" class="form-select" th:field="*{role}" id="role" name="role">
                            <option value="USER">일반회원</option>
                        </select>
                    </div>

                    <label class="form-label" for="name" >이름</label>
                    <input class="form-control" id="name" name="name" th:field="*{name}" type="text">
                    <p th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></p>

                    <label class="form-label" for="email" >이메일</label>
                    <input type="text" class="form-control" id="email" name="email" th:field="*{email}" readonly></input>
                    <p th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></p>

                    <input class="form-control" id="password" name="password" th:field="*{password}" type="hidden">

                    <label class="form-label" for="nickname" >닉네임</label>
                    <input class="form-control" id="nickname" name="nickname" th:field="*{nickname}" type="text">
                    <p th:errors="*{nickname}" th:if="${#fields.hasErrors('nickname')}"></p>

                    <label class="form-label" for="phone" >휴대폰번호</label>
                    <input class="form-control" id="phone" name="phone" th:field="*{phone}" type="tel">
                    <p th:errors="*{phone}" th:if="${#fields.hasErrors('phone')}"></p>


                    <div style="text-align: center; margin-top: 15px">
                        <input class="btn btn-danger submitBtn mb-1" type="submit" value="수정완료">
                    </div>

                    <div style="margin-top: 15px; text-align: right; ">
                        <a href="/memberuser/modifypw" style="margin-bottom: -2px; text-decoration: none">비밀번호 변경하러가기 »</a>
                    </div>


                </div>
            </div>
        </div>
        </form>
    </div>


    <script th:inline="javascript">

        let isNameValid = false;

        $("#exampleFormControlInput1").on("change", function () {
            let inputName = $(this).val();

            isNameValid = inputName.length >= 2 && inputName.length <= 10;

            if (isNameValid) {
                $(this).removeClass("is-invalid")
                $(this).addClass("is-valid")
            } else {
                $(this).removeClass("is-valid")
                $(this).addClass("is-invalid")
            }

        })

    </script>

</div>

</body>
</html>