<!DOCTYPE html>
<html layout:decorate="~{layouts/layout1}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공방와 :: 간편한 공방 예약!</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
        #map { height: 500px; }
    </style>
    <th:block layout:fragment="script">
        <script th:inline="javascript">

        </script>
    </th:block>
</head>
<body>

<div layout:fragment="content" >


    <div class="px-4 pt-5 my-5 text-center">

        <img src="/img/main/gongbangwa.png" width="100px">

        <br>
        <br>

        <h1 class="display-4 fw-bold" style="font-family: '210snailB'">공방와</h1>
        <br>
        <div class="col-lg-6 mx-auto" >
            <p class="lead mb-4">
                간편하게 공방 예약하기!
            </p>
            <br>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <a type="button" href="/signup" class="btn btn-danger btn-lg px-4 me-sm-3" style="font-family: '210snailR'; font-size: x-large">가입하기</a>
                <a type="button" href="/signin" class="btn btn-outline-secondary btn-lg px-4" style="font-family: '210snailR'; font-size: x-large">로그인</a>
            </div>
        </div>
        <br>



    </div>



</div>

</body>
</html>